=begin
#imgwire.dev Backend API development

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module ImgwireGenerated
  class CorsOriginsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create CORS Origin
    # @param cors_origin_create_schema [CorsOriginCreateSchema] 
    # @param [Hash] opts the optional parameters
    # @return [CorsOriginSchema]
    def cors_origins_create(cors_origin_create_schema, opts = {})
      data, _status_code, _headers = cors_origins_create_with_http_info(cors_origin_create_schema, opts)
      data
    end

    # Create CORS Origin
    # @param cors_origin_create_schema [CorsOriginCreateSchema] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CorsOriginSchema, Integer, Hash)>] CorsOriginSchema data, response status code and response headers
    def cors_origins_create_with_http_info(cors_origin_create_schema, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CorsOriginsApi.cors_origins_create ...'
      end
      # verify the required parameter 'cors_origin_create_schema' is set
      if @api_client.config.client_side_validation && cors_origin_create_schema.nil?
        fail ArgumentError, "Missing the required parameter 'cors_origin_create_schema' when calling CorsOriginsApi.cors_origins_create"
      end
      # resource path
      local_var_path = '/api/v1/cors_origins/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cors_origin_create_schema)

      # return_type
      return_type = opts[:debug_return_type] || 'CorsOriginSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CorsOriginsApi.cors_origins_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CorsOriginsApi#cors_origins_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete CORS Origin By ID
    # @param cors_origin_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, String>]
    def cors_origins_delete(cors_origin_id, opts = {})
      data, _status_code, _headers = cors_origins_delete_with_http_info(cors_origin_id, opts)
      data
    end

    # Delete CORS Origin By ID
    # @param cors_origin_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, String>, Integer, Hash)>] Hash<String, String> data, response status code and response headers
    def cors_origins_delete_with_http_info(cors_origin_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CorsOriginsApi.cors_origins_delete ...'
      end
      # verify the required parameter 'cors_origin_id' is set
      if @api_client.config.client_side_validation && cors_origin_id.nil?
        fail ArgumentError, "Missing the required parameter 'cors_origin_id' when calling CorsOriginsApi.cors_origins_delete"
      end
      # resource path
      local_var_path = '/api/v1/cors_origins/{cors_origin_id}'.sub('{' + 'cors_origin_id' + '}', CGI.escape(cors_origin_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CorsOriginsApi.cors_origins_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CorsOriginsApi#cors_origins_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List CORS Origins
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<CorsOriginSchema>]
    def cors_origins_list(opts = {})
      data, _status_code, _headers = cors_origins_list_with_http_info(opts)
      data
    end

    # List CORS Origins
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Array<CorsOriginSchema>, Integer, Hash)>] Array<CorsOriginSchema> data, response status code and response headers
    def cors_origins_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CorsOriginsApi.cors_origins_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CorsOriginsApi.cors_origins_list, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CorsOriginsApi.cors_origins_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling CorsOriginsApi.cors_origins_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/cors_origins/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CorsOriginSchema>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CorsOriginsApi.cors_origins_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CorsOriginsApi#cors_origins_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CORS Origin By ID
    # @param cors_origin_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CorsOriginSchema]
    def cors_origins_retrieve(cors_origin_id, opts = {})
      data, _status_code, _headers = cors_origins_retrieve_with_http_info(cors_origin_id, opts)
      data
    end

    # Get CORS Origin By ID
    # @param cors_origin_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CorsOriginSchema, Integer, Hash)>] CorsOriginSchema data, response status code and response headers
    def cors_origins_retrieve_with_http_info(cors_origin_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CorsOriginsApi.cors_origins_retrieve ...'
      end
      # verify the required parameter 'cors_origin_id' is set
      if @api_client.config.client_side_validation && cors_origin_id.nil?
        fail ArgumentError, "Missing the required parameter 'cors_origin_id' when calling CorsOriginsApi.cors_origins_retrieve"
      end
      # resource path
      local_var_path = '/api/v1/cors_origins/{cors_origin_id}'.sub('{' + 'cors_origin_id' + '}', CGI.escape(cors_origin_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CorsOriginSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CorsOriginsApi.cors_origins_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CorsOriginsApi#cors_origins_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update CORS Origin By ID
    # @param cors_origin_id [String] 
    # @param cors_origin_update_schema [CorsOriginUpdateSchema] 
    # @param [Hash] opts the optional parameters
    # @return [CorsOriginSchema]
    def cors_origins_update(cors_origin_id, cors_origin_update_schema, opts = {})
      data, _status_code, _headers = cors_origins_update_with_http_info(cors_origin_id, cors_origin_update_schema, opts)
      data
    end

    # Update CORS Origin By ID
    # @param cors_origin_id [String] 
    # @param cors_origin_update_schema [CorsOriginUpdateSchema] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CorsOriginSchema, Integer, Hash)>] CorsOriginSchema data, response status code and response headers
    def cors_origins_update_with_http_info(cors_origin_id, cors_origin_update_schema, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CorsOriginsApi.cors_origins_update ...'
      end
      # verify the required parameter 'cors_origin_id' is set
      if @api_client.config.client_side_validation && cors_origin_id.nil?
        fail ArgumentError, "Missing the required parameter 'cors_origin_id' when calling CorsOriginsApi.cors_origins_update"
      end
      # verify the required parameter 'cors_origin_update_schema' is set
      if @api_client.config.client_side_validation && cors_origin_update_schema.nil?
        fail ArgumentError, "Missing the required parameter 'cors_origin_update_schema' when calling CorsOriginsApi.cors_origins_update"
      end
      # resource path
      local_var_path = '/api/v1/cors_origins/{cors_origin_id}'.sub('{' + 'cors_origin_id' + '}', CGI.escape(cors_origin_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cors_origin_update_schema)

      # return_type
      return_type = opts[:debug_return_type] || 'CorsOriginSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CorsOriginsApi.cors_origins_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CorsOriginsApi#cors_origins_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
