=begin
#imgwire.dev Backend API development

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module ImgwireGenerated
  class ImagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk Delete Images
    # @param bulk_delete_images_schema [BulkDeleteImagesSchema] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, String>]
    def images_bulk_delete(bulk_delete_images_schema, opts = {})
      data, _status_code, _headers = images_bulk_delete_with_http_info(bulk_delete_images_schema, opts)
      data
    end

    # Bulk Delete Images
    # @param bulk_delete_images_schema [BulkDeleteImagesSchema] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, String>, Integer, Hash)>] Hash<String, String> data, response status code and response headers
    def images_bulk_delete_with_http_info(bulk_delete_images_schema, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_bulk_delete ...'
      end
      # verify the required parameter 'bulk_delete_images_schema' is set
      if @api_client.config.client_side_validation && bulk_delete_images_schema.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_delete_images_schema' when calling ImagesApi.images_bulk_delete"
      end
      # resource path
      local_var_path = '/api/v1/images/bulk_delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_delete_images_schema)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ImagesApi.images_bulk_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_bulk_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Standard Upload
    # @param standard_upload_create_schema [StandardUploadCreateSchema] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :upload_token 
    # @return [StandardUploadResponseSchema]
    def images_create(standard_upload_create_schema, opts = {})
      data, _status_code, _headers = images_create_with_http_info(standard_upload_create_schema, opts)
      data
    end

    # Create Standard Upload
    # @param standard_upload_create_schema [StandardUploadCreateSchema] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :upload_token 
    # @return [Array<(StandardUploadResponseSchema, Integer, Hash)>] StandardUploadResponseSchema data, response status code and response headers
    def images_create_with_http_info(standard_upload_create_schema, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_create ...'
      end
      # verify the required parameter 'standard_upload_create_schema' is set
      if @api_client.config.client_side_validation && standard_upload_create_schema.nil?
        fail ArgumentError, "Missing the required parameter 'standard_upload_create_schema' when calling ImagesApi.images_create"
      end
      # resource path
      local_var_path = '/api/v1/images/standard_upload'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'upload_token'] = opts[:'upload_token'] if !opts[:'upload_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(standard_upload_create_schema)

      # return_type
      return_type = opts[:debug_return_type] || 'StandardUploadResponseSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ImagesApi.images_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Bulk Image Download Job
    # @param image_download_job_create_schema [ImageDownloadJobCreateSchema] 
    # @param [Hash] opts the optional parameters
    # @return [ImageDownloadJobSchema]
    def images_create_bulk_download_job(image_download_job_create_schema, opts = {})
      data, _status_code, _headers = images_create_bulk_download_job_with_http_info(image_download_job_create_schema, opts)
      data
    end

    # Create Bulk Image Download Job
    # @param image_download_job_create_schema [ImageDownloadJobCreateSchema] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImageDownloadJobSchema, Integer, Hash)>] ImageDownloadJobSchema data, response status code and response headers
    def images_create_bulk_download_job_with_http_info(image_download_job_create_schema, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_create_bulk_download_job ...'
      end
      # verify the required parameter 'image_download_job_create_schema' is set
      if @api_client.config.client_side_validation && image_download_job_create_schema.nil?
        fail ArgumentError, "Missing the required parameter 'image_download_job_create_schema' when calling ImagesApi.images_create_bulk_download_job"
      end
      # resource path
      local_var_path = '/api/v1/images/downloads'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(image_download_job_create_schema)

      # return_type
      return_type = opts[:debug_return_type] || 'ImageDownloadJobSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ImagesApi.images_create_bulk_download_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_create_bulk_download_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Upload Token
    # @param [Hash] opts the optional parameters
    # @return [UploadTokenCreateResponseSchema]
    def images_create_upload_token(opts = {})
      data, _status_code, _headers = images_create_upload_token_with_http_info(opts)
      data
    end

    # Create Upload Token
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadTokenCreateResponseSchema, Integer, Hash)>] UploadTokenCreateResponseSchema data, response status code and response headers
    def images_create_upload_token_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_create_upload_token ...'
      end
      # resource path
      local_var_path = '/api/v1/images/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadTokenCreateResponseSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ImagesApi.images_create_upload_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_create_upload_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Image By ID
    # @param image_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, String>]
    def images_delete(image_id, opts = {})
      data, _status_code, _headers = images_delete_with_http_info(image_id, opts)
      data
    end

    # Delete Image By ID
    # @param image_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, String>, Integer, Hash)>] Hash<String, String> data, response status code and response headers
    def images_delete_with_http_info(image_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_delete ...'
      end
      # verify the required parameter 'image_id' is set
      if @api_client.config.client_side_validation && image_id.nil?
        fail ArgumentError, "Missing the required parameter 'image_id' when calling ImagesApi.images_delete"
      end
      # resource path
      local_var_path = '/api/v1/images/{image_id}'.sub('{' + 'image_id' + '}', CGI.escape(image_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ImagesApi.images_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Images
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<ImageSchema>]
    def images_list(opts = {})
      data, _status_code, _headers = images_list_with_http_info(opts)
      data
    end

    # List Images
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(Array<ImageSchema>, Integer, Hash)>] Array<ImageSchema> data, response status code and response headers
    def images_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ImagesApi.images_list, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ImagesApi.images_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ImagesApi.images_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/images/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ImageSchema>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ImagesApi.images_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Image By ID
    # @param image_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ImageSchema]
    def images_retrieve(image_id, opts = {})
      data, _status_code, _headers = images_retrieve_with_http_info(image_id, opts)
      data
    end

    # Get Image By ID
    # @param image_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImageSchema, Integer, Hash)>] ImageSchema data, response status code and response headers
    def images_retrieve_with_http_info(image_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_retrieve ...'
      end
      # verify the required parameter 'image_id' is set
      if @api_client.config.client_side_validation && image_id.nil?
        fail ArgumentError, "Missing the required parameter 'image_id' when calling ImagesApi.images_retrieve"
      end
      # resource path
      local_var_path = '/api/v1/images/{image_id}'.sub('{' + 'image_id' + '}', CGI.escape(image_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImageSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ImagesApi.images_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Bulk Image Download Job
    # @param image_download_job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ImageDownloadJobSchema]
    def images_retrieve_bulk_download_job(image_download_job_id, opts = {})
      data, _status_code, _headers = images_retrieve_bulk_download_job_with_http_info(image_download_job_id, opts)
      data
    end

    # Get Bulk Image Download Job
    # @param image_download_job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImageDownloadJobSchema, Integer, Hash)>] ImageDownloadJobSchema data, response status code and response headers
    def images_retrieve_bulk_download_job_with_http_info(image_download_job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_retrieve_bulk_download_job ...'
      end
      # verify the required parameter 'image_download_job_id' is set
      if @api_client.config.client_side_validation && image_download_job_id.nil?
        fail ArgumentError, "Missing the required parameter 'image_download_job_id' when calling ImagesApi.images_retrieve_bulk_download_job"
      end
      # resource path
      local_var_path = '/api/v1/images/downloads/{image_download_job_id}'.sub('{' + 'image_download_job_id' + '}', CGI.escape(image_download_job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImageDownloadJobSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ImagesApi.images_retrieve_bulk_download_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_retrieve_bulk_download_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
